.spot-details-div {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 30px auto; /* Center the content horizontally */
}

.spot-details-div h2 {
    font-size: 30px;
    font-weight: bold;
}

.spot-details-div h3 {
    font-size: 20px;
    color: gray;
}

.images-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.image-div {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.image-div img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.image-2, .image-3, .image-4, .image-5 {
    grid-column: span 1;
    grid-row: span 1;
}

/* Add flexbox to align the spot-descriptions and reservation sections */
.spot-description-reservation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#spot-descriptions {
    flex: 1;
    margin-right: 20px;
}

#reservation {
    border: solid 1px lightgrey;
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}

.reservation * {
    margin: 5px 0px;
}

#reservation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#reservation ul li {
    margin-right: 10px;
}

#price {
    font-size: 18px;
    font-weight: 500;
}

#right {
    display: flex;
    align-items: center;
}

#right li {
    display: flex;
    align-items: center;
}

#reservation-button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #ff5a5f;
    width: 100%;
}

#reservation-button:hover {
    cursor: pointer;
    background-color: #e94e4e;
}

#reviews-stats {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#reviews-stats li {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.review {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.review h3 {
    font-size: 16px;
    font-weight: bold;
}

.review h4 {
    font-size: 14px;
    color: gray;
}

.review p {
    font-size: 14px;
    margin: 5px 0;
}

.hide {
    display: none;
}
